body, html {
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the gallery */
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the images within the gallery */
    margin: 20px; /* Space around the gallery */
  }
  
/* Base styles */

.image-container {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds a shadow to images */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block; /* Ensures that no inline spacing is affecting the layout */
    vertical-align: bottom; /* Aligns the image to the bottom */
    aspect-ratio: 1 / 1; /* Keeps the images square */
    object-fit: cover; /* Ensure the images cover the area without stretching */
  }
  
  /* Styles for screens larger than 600px */
  
  @media (min-width: 600px) {
    .gallery {
      display: flex;
      justify-content: center;
    }
  
    .image-container {
      flex-basis: calc(50% - 40px); /* Adjust this value as needed */
      margin: 20px;
    }
  }
  
  